@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.color-primary {
  color: #1ba0d9;
}

.btn-primary {
  background-color: #1ba0d9;
  color: white;
}

.ant-layout-sider-trigger {
  background: #1ba0d9 !important;
}

.ant-menu-item-selected {
  background-color: #1ba0d9 !important;
  color: white !important;
  font-weight: 500 !important;
  border-radius: 0px 30px 30px 0px !important;
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: white !important;
}

.ant-menu-item:hover {
  color: #1ba0d9 !important;
  border-radius: 0px 30px 30px 0px !important;
}
.ant-menu-item {
  padding: 24px;
}

.ant-menu-item:hover {
  color: #1ba0d9 !important;
}
.ant-menu-item-selected:hover {
  color: white !important;
}
.ant-menu-item-selected .ant-badge:hover {
  color: white !important;
}
.ant-menu-item-selected .ant-badge {
  font-weight: 500 !important;
  color: white !important;
}
.ant-badge-count {
  background-color: #eec10b !important;
  color: #0a0a0a !important;
}

/* .ant-menu-submenu-active {
  color: #1BA0D9 !important;
} */
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #1ba0d9 !important;
}

/* Target all table bodies' scrollbars */
/* Target the table's scrollable body with high specificity */
div.custom-table .ant-table-body::-webkit-scrollbar {
  width: 4px;
}

div.custom-table .ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

div.custom-table .ant-table-body::-webkit-scrollbar-thumb {
  background: #1ba0d9;
  border-radius: 8px;
}

div.custom-table .ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #1ba0d9;
}

::-webkit-scrollbar {
  width: 4px; /* You can change width here */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: background behind scrollbar thumb */
}

::-webkit-scrollbar-thumb {
  background: #1ba0d9 !important; /* Your custom color */
  border-radius: 4px;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* "auto" | "thin" | "none" */
  scrollbar-color: #1ba0d9 #f1f1f1; /* thumb color | track color */
}

/* Custom autocomplete input */

::-webkit-scrollbar-button {
  display: none;
}
